<html>



    <head>
        <title>Crime Frequency</title>

        <!-- Load CSS files -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crimeDatabaseMain.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://rawgit.com/gdaunton/Semantic-UI/range-slider-build/dist/semantic.css">
        <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    </head>
    <body>
        <div class="Container">
            <div class="Header">
                <font size = 40; style="margin-bottom: 0px;padding-top: 100px;">Frequency of Crime by Crime Code </font>
                <h2 style="margin-top: 0px;"> in Montgomery County, Maryland </h2>
            </div>
            <div class="topleft">
                <div btn-group data-grouptype>
                  <a href="/crimes">To Zipcodes</a>
                </div>
            </div>
            <p style="margin-left: 50px;">This page shows how many crimes occur by crime code in our database. Each police code can be clicked on to show all the crimes that have that code in our database. <a href="http://www.corragroup.com/NCIC-codes.html"> Here is a link to a webpage that defines the crime attributed to each code and explains NCIC codes. </a></p>
            <div class="Content">
                <div class="Wrapper">
                    <div class="RightContent">
                        <p>You can fix the width of this content.</p>
                        <p>if you wont, his width will stretch just as it needs to.</p>
                    </div>
                    <div class="LeftContent">
                    </div>
                </div>
            </div>
        </div>
        <!-- Load JQuery and Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://rawgit.com/gdaunton/Semantic-UI/range-slider-build/dist/semantic.js"></script>
        <script>var api_port = {{ api_port }};</script>
        <script src="{{ url_for('static', filename='crimeDatabaseMain.js') }}"></script>


    </body>
</html>
