<html>



    <head>
        <title>Crime Frequency</title>

        <!-- Load CSS files -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crimeDatabaseMain.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://rawgit.com/gdaunton/Semantic-UI/range-slider-build/dist/semantic.css">
        <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    </head>
    <body>
        <div class="Container">
            <div class="Header">
                <font size = 40; style="margin-bottom: 0px;padding-top: 100px;">Frequency of Crime by Crime Code </font>
                <h2 style="margin-top: 0px;"> in Montgomery County, Maryland </h2>
            </div>
            <div class="topleft">
                <div btn-group data-grouptype>
                  <a href="/crimes">To Zipcodes</a>
                </div>
            </div>
            <p style="margin-left: 50px;">This page shows how many crimes occur by crime code in our database. Each police code can be clicked on to show all the crimes that have that code in our database. <a href="http://www.corragroup.com/NCIC-codes.html"> Here is a link to a webpage that defines the crime attributed to each code and explains NCIC codes. </a></p>
            <div class="Content">
                <div class="Wrapper">
                    <div class="RightContent">
                        <p>You can fix the width of this content.</p>
                        <p>if you wont, his width will stretch just as it needs to.</p>
                    </div>
                    <div class="LeftContent">
                        <p>LARCENY - FROM AUTO,2305,10378</p>
<p>DRUGS - MARIJUANA - POSSESS,3562,9136</p>
<p>DRIVING UNDER THE INFLUENCE LIQUOR,5404,6859</p>
<p>ASSAULT - 2ND DEGREE,1399,6489</p>
<p>POLICE INFORMATION,9199,6484</p>
<p>LARCENY - SHOPLIFTING,2303,5928</p>
<p>LARCENY (DESCRIBE OFFENSE),2399,5174</p>
<p>DAMAGE PROPERTY - PRIVATE,2902,4788</p>
<p>LARCENY - FROM BLDG,2308,4489</p>
<p>LOST PROPERTY,9105,4206</p>
<p>MENTAL ILLNESS - EMERGENCY PETITION,9113,3361</p>
<p>LIQUOR - POSSESS,4104,2859</p>
<p>PUBLIC PEACE - DISORDERLY CONDUCT,5311,2735</p>
<p>MENTAL ILLNESS,9106,2731</p>
<p>AUTO THEFT - VEHICLE THEFT,2404,1986</p>
<p>SUDDEN DEATH,9101,1980</p>
<p>TRESPASSING,5707,1932</p>
<p>MISSING PERSON,9107,1877</p>
<p>LARCENY - AUTO PARTS,2304,1850</p>
<p>DAMAGE PROPERTY (DESCRIBE OFFENSE),2999,1821</p>
<p>FRAUD - ILLEGAL USE CREDIT CARDS,2605,1688</p>
<p>ASSAULT - SIMPLE,1313,1616</p>
<p>BURGLARY - FORCED ENTRY-RESIDENTIAL,2202,1586</p>
<p>IDENTITY THEFT,2610,1558</p>
<p>JUVENILE - RUNAWAY,9021,1495</p>
<p>FRAUD - IMPERSONATION,2604,1478</p>
<p>FRAUD (DESCRIBE OFFENSE),2699,1129</p>
<p>DRUGS - NARCOTIC EQUIP - POSSESS,3550,1111</p>
<p>BURGLARY - NO FORCED ENTRY-RESIDENTIAL,2204,1098</p>
<p>RECOVERED PROPERTY - MONT CO.,9108,1013</p>
<p>LIQUOR (DESCRIBE OFFENSE),4199,912</p>
<p>DRUGS - COCAINE - POSSESS,3532,867</p>
<p>ALL OTHER OFFENSES,9099,809</p>
<p>DAMAGE PROPERTY - BUSINESS,2901,705</p>
<p>BURGLARY - FORCED ENTRY-NONRESIDENTIAL,2203,642</p>
<p>RECOVERED PROPERTY - OTHER,9109,589</p>
<p>PUBLIC PEACE - HARASSING COMMUNICATION,5309,553</p>
<p>DRUGS - MARIJUANA - SELL,3560,553</p>
<p>OBSTRUCT GOVT - VIOLATION OF A COURT ORDER,5016,494</p>
<p>FRAUD - CONFIDENCE GAME,2601,478</p>
<p>ROBBERY - STREET-STRONG-ARM,1206,450</p>
<p>RAPE - STRONG-ARM,1103,431</p>
<p>FORGERY OF CHECKS,2501,426</p>
<p>ASSAULT - AGGRAVATED - NON-FAMILY-OTHER WEAPON,1305,416</p>
<p>DRUGS - OPIUM OR DERIVATIVE - POSSESS,3522,415</p>
<p>SUICIDE - ATTEMPT,9042,413</p>
<p>LARCENY - FROM MALLS,2310,390</p>
<p>OBSTRUCT POLICE - RESISTING OFFICER,4801,381</p>
<p>WEAPON - POSSESSION,5212,381</p>
<p>UNAUTHORIZED USE OF VEHICLE (INCLUDES JOY RIDING),2411,375</p>
<p>WEAPON - CONCEALED,5202,346</p>
<p>DRUGS - COCAINE - SELL,3530,311</p>
<p>DRUGS - HEROIN - POSSESS,3512,292</p>
<p>ASSAULT - AGGRAVATED - FAMILY-OTHER WEAPON,1302,292</p>
<p>FRAUD - SWINDLE,2602,285</p>
<p>DAMAGE PROPERTY - PUBLIC,2903,283</p>
<p>LARCENY - POCKET PICKING,2301,283</p>
<p>LIQUOR - SELL,4102,274</p>
<p>DRIVING UNDER THE INFLUENCE DRUGS,5403,266</p>
<p>SEX ASSAULT - FONDLING,1199,241</p>
<p>DRUGS - MARIJUANA (DESCRIBE OFFENSE),3564,235</p>
<p>LARCENY - FROM YARDS,2309,234</p>
<p>ASSAULT - AGGRAVATED - OTHER,1315,232</p>
<p>DRUGS - HALLUCINOGEN - POSSESS,3504,221</p>
<p>ASSAULT - AGGRAVATED - FAMILY-STRONG-ARM,1303,219</p>
<p>BURGLARY (DESCRIBE OFFENSE),2299,213</p>
<p>FAMILY OFFENSE - NEGLECT CHILD (INCLUDES NONSUPPOR,3806,209</p>
<p>DRUGS - AMPHETAMINE - POSSESS,3572,205</p>
<p>BURGLARY - NO FORCED ENTRY-NONRESIDENTIAL,2205,197</p>
<p>MENTAL TRANSPORT - ONLY,9112,196</p>
<p>OBSTRUCT POLICE (DESCRIBE OFFENSE),4899,195</p>
<p>OVERDOSE,9201,192</p>
<p>ROBBERY - STREET-GUN,1204,188</p>
<p>LITTERING/TRASH DUMPING,9053,187</p>
<p>SEX OFFENSE - FONDLING,3699,186</p>
<p>ASSAULT - INTIMIDATION (INCLUDES STALKING),1316,182</p>
<p>OBSTRUCT POLICE - OBSTRUCT CRIMINAL INVEST,4802,173</p>
<p>FUGITIVE FROM JUSTICE (OUT OF STATE),9062,170</p>
<p>FUGITIVE FROM MD JURISDICTION,9061,168</p>
<p>FORGERY (DESCRIBE OFFENSE),2589,166</p>
<p>DRUGS - SYNTHETIC NARCOTIC - POSSESS,3542,154</p>
<p>FRAUD - INSUFFICIENT FUNDS CHECK,2606,154</p>
<p>LARCENY - PURSE SNATCHING - NO FORCE,2302,151</p>
<p>LARCENY - POSTAL,2316,151</p>
<p>SEX OFFENSE - INDECENT EXPOSURE,3605,150</p>
<p>SEX OFFENSE - AGAINST CHILD-FONDLING,3601,144</p>
<p>FRAUD - FAILURE TO PAY,9056,132</p>
<p>COUNTERFEITING - PASS COUNTERFEITED,2505,131</p>
<p>SUICIDE - COMPLETED,9041,130</p>
<p>ROBBERY - STRONG ARM,1216,126</p>
<p>ROBBERY - STREET-OTHER WEAPON,1205,124</p>
<p>ASSAULT - AGGRAVATED - GUN,1314,119</p>
<p>EMBEZZLE (DESCRIBE OFFENSE),2799,113</p>
<p>FIRE (NOT ARSON),9104,113</p>
<p>SEX OFFENSE - INDECENT EXPOSURE TO ADULT,3615,111</p>
<p>TRAFFIC OFFENSES (DESCRIBE OFFENSE),5499,110</p>
<p>DRUGS - BARBITURATE - POSSESS,3582,109</p>
<p>PUBLIC PEACE (DESCRIBE OFFENSE),5399,103</p>
<p>DRUGS - DANGEROUS (DESCRIBE OFFENSE),3599,101</p>
<p>STOLEN VEHICLE (DESCRIBE OFFENSE),2499,101</p>
<p>ROBBERY - BUSINESS-GUN,1201,97</p>
<p>COMM SEX OFF - PROSTITUTION,4004,95</p>
<p>SEX ASSAULT - WITH AN OBJECT,9003,94</p>
<p>FRAUD AND ABUSE - COMPUTER,2609,91</p>
<p>FORGERY OF OTHER,2502,90</p>
<p>JUVENILE - OTHER,9023,86</p>
<p>ASSAULT - AGGRAVATED - NON-FAMILY-STRONG-ARM,1306,84</p>
<p>FRAUD BY WIRE,2608,84</p>
<p>AUTO THEFT - POSSESS STOLEN VEHICLE,2408,80</p>
<p>ROBBERY (DESCRIBE OFFENSE),1299,76</p>
<p>FORGERY - PASS FORGED,2504,73</p>
<p>WEAPON - FIRING,5213,72</p>
<p>DRUGS - OPIUM OR DERIVATIVE - SELL,3520,72</p>
<p>SEX OFFENSE - FAILURE TO REGISTER AS A SEX OFFENDE,3612,72</p>
<p>DRUGS - HEROIN - (DESCRIBE OFFENSE),3513,67</p>
<p>ROBBERY - KNIFE,1214,67</p>
<p>ASSAULT - AGGRAVATED - NON-FAMILY-GUN,1304,66</p>
<p>FAMILY OFFENSE - CRUELTY TOWARD CHILD,3802,66</p>
<p>ROBBERY - RESIDENTIAL-STRONG-ARM,1209,65</p>
<p>WEAPON OFFENSE (DESCRIBE OFFENSE),5299,63</p>
<p>ROBBERY - BUSINESS-STRONG-ARM,1203,63</p>
<p>DRUGS - HEROIN - SELL,3510,60</p>
<p>DRUNKENNESS,9031,60</p>
<p>COUNTERFEITING,2503,59</p>
<p>ARSON - BURNING OF - (IDENTIFY OBJECT),2007,56</p>
<p>DRUGS - COCAINE (DESCRIBE OFFENSE),3533,55</p>
<p>ROBBERY - RESIDENTIAL-GUN,1207,54</p>
<p>SEX ASSAULT - SODOMY-GIRL-STRONG-ARM,1114,54</p>
<p>ROBBERY - GUN,1213,52</p>
<p>THREAT - TERRORISTIC - STATE OFFENSES,1602,49</p>
<p>COUNTERFEITING (DESCRIBE OFFENSE),2599,48</p>
<p>PUBLIC ORDER CRIMES,7399,47</p>
<p>DRUGS - OPIUM OR DERIVATIVE (DESCRIBE OFFENSE),3523,47</p>
<p>PROPERTY CRIMES,7199,44</p>
<p>EMBEZZLE - BUSINESS PROP,2701,43</p>
<p>OBSCENE COMMUNICATION,3707,43</p>
<p>OBSTRUCT POLICE - MAKING FALSE REPORT,4803,40</p>
<p>ROBBERY - DOMESTIC,1217,40</p>
<p>ROBBERY - BUSINESS-OTHER WEAPON,1202,39</p>
<p>SEX OFFENSE - PEEPING TOM,3611,38</p>
<p>DRUGS - AMPHETAMINE - SELL,3571,38</p>
<p>EXTORT - THREAT INJURE PERSON,2101,38</p>
<p>OBSTRUCT GOVT - OBSTRUCTING JUSTICE,5006,38</p>
<p>WEAPON - THREAT TO BOMB,5215,37</p>
<p>COUNTERFEITING - POSS COUNTERFEITED,2507,37</p>
<p>SEX OFFENSE - INDECENT EXPOSURE TO MINOR,3614,36</p>
<p>FAMILY OFFENSE (DESCRIBE OFFENSE),3899,36</p>
<p>FRAUD - FALSE STATEMENT,2607,35</p>
<p>EXTORTION (DESCRIBE OFFENSE),2199,35</p>
<p>SEX ASSAULT - SODOMY-WOMAN-STRONG-ARM,1115,35</p>
<p>LARCENY - FROM COIN MACHINE,2307,28</p>
<p>EXTORT - THREAT INJURE REPUTATION,2103,28</p>
<p>ROBBERY - RESIDENTIAL-OTHER WEAPON,1208,28</p>
<p>FAMILY OFFENSE - NEGLECT FAMILY,3801,28</p>
<p>ASSAULT - AGGRAVATED - POL OFF-OTHER WEAPON,1311,26</p>
<p>LOITERING/VAGRANCY,9054,26</p>
<p>STOLEN PROPERTY - POSSESS,2804,26</p>
<p>ARSON (DESCRIBE OFFENSE),2099,26</p>
<p>OBSCENE MATERIAL,3700,26</p>
<p>ASSAULT - AGGRAVATED - FAMILY-GUN,1301,25</p>
<p>SEX ASSAULT - CARNAL ABUSE,1117,25</p>
<p>HIT AND RUN,5401,24</p>
<p>ROBBERY - CARJACKING - ARMED,1212,24</p>
<p>LARCENY - FROM BANKING-TYPE INST,2311,24</p>
<p>ARSON - RESIDENTIAL,2006,24</p>
<p>DRUGS - SYNTHETIC NARCOTIC - SELL,3540,23</p>
<p>SEX ASSAULT - SODOMY-BOY-STRONG-ARM,1112,23</p>
<p>OBSCENE MATERIAL - DISTRIBUTE,3705,23</p>
<p>DRUGS - HALLUCINOGEN - SELL,3503,22</p>
<p>ANIMAL BITE,9102,20</p>
<p>OBSTRUCT GOVT - OBSTRUCTING COURT ORDER,5007,20</p>
<p>HUMAN TRAFFICKING - COMMERCIAL SEX ACTS,6411,20</p>
<p>SEX ASSAULT - SODOMY-MAN-STRONG-ARM,1113,19</p>
<p>LARCENY - FROM SHIPMENT,2306,19</p>
<p>DRUGS - HALLUCINOGEN - DISTRIB,3502,18</p>
<p>OBSCENE MATERIAL - POSSESS,3704,18</p>
<p>FORGERY - POSSESS FORGED,2506,18</p>
<p>ROBBERY - BANKING-TYPE INST,1211,17</p>
<p>DRUGS - MARIJUANA - PRODUCING,3563,17</p>
<p>COMM SEX OFF - PROCURE PROSTITUTE - ADULT,4008,17</p>
<p>BURGLARY TOOLS - POSSESS,2206,16</p>
<p>ARSON - RESIDENTIAL-ENDANGERED LIFE,2002,16</p>
<p>DRUGS - HALLUCINOGEN (DESCRIBE OFFENSE),3505,16</p>
<p>SEX OFFENSE - SEX OFFENDER REGISTRATION VIOLATION,3613,16</p>
<p>FIRE CODE VIOLATION,9052,16</p>
<p>DRUGS - SYNTHETIC NARCOTIC - (DESCRIBE OFFENSE),3543,15</p>
<p>CARRYING PROHIBITED WEAPON (SPECIFY WEAPON),5203,15</p>
<p>FRAUD - MAIL,2603,15</p>
<p>SOLICITATION - MINOR FOR SEXUAL ACTS,9110,15</p>
<p>ROBBERY - OTHER WEAPON,1215,15</p>
<p>ROBBERY - FORCIBLE PURSE SNATCHING,1210,14</p>
<p>KIDNAP ADULT,1006,14</p>
<p>BURGLARY - SAFE-VAULT,2201,14</p>
<p>STOLEN PROPERTY (DESCRIBE OFFENSE),2899,13</p>
<p>OBSTRUCT POLICE - EVIDENCE - DESTROYING,4804,13</p>
<p>EMBEZZLE - BANKING-TYPE INST,2703,12</p>
<p>ESCAPE FROM CUSTODY,8100,11</p>
<p>DRUGS - MARIJUANA - SMUGGLE,3561,11</p>
<p>ASSAULT - AGGRAVATED - PUB OFF-OTHER WEAPON,1308,11</p>
<p>ROBBERY - CARJACKING - STRONG-ARM,9002,10</p>
<p>HOMICIDE - WILLFUL KILL-GUN,911,9</p>
<p>LIQUOR - TRANSPORT,4103,9</p>
<p>ASSAULT - AGGRAVATED - POL OFF-STRONG-ARM,1312,8</p>
<p>COMM SEX OFF (DESCRIBE OFFENSE),4099,8</p>
<p>DRUGS - BARBITURATE - SELL,3581,8</p>
<p>HOMICIDE (DESCRIBE OFFENSE),999,8</p>
<p>HOMICIDE - WILLFUL KILL,912,8</p>
<p>OBSTRUCT GOVT - FAILURE TO APPEAR,5015,8</p>
<p>DRUGS - AMPHETAMINE (DESCRIBE OFFENSE),3573,7</p>
<p>CRIMES AGAINST PERSON,7099,7</p>
<p>ATTEMPTED ASSAULT AGGRAVATED POL OFF KNIFE,1317,7</p>
<p>RAPE WITH WEAPON,1102,7</p>
<p>FALSE IMPRISONMENT - MINOR - NONPARENTAL,1020,6</p>
<p>COMM SEX OFF - PROCURE FOR PROSTITUTE (PIMPING),4002,6</p>
<p>HOMICIDE - WILLFUL KILL-FAMILY,902,6</p>
<p>KIDNAP MINOR,1005,6</p>
<p>COMM SEX OFF - HOMOSEXUAL PROSTITUTION,4003,6</p>
<p>WEAPON - THREAT TO BURN,5216,5</p>
<p>HEALTH - DRUGS - HEALTH OR SAFETY,5503,5</p>
<p>FAILING TO MOVE ON,4813,5</p>
<p>FORGERY/COUNTERFEITING - POSSESS TOOLS FOR,2508,5</p>
<p>OBSTRUCT GOVT - CONTEMPT OF COURT,5005,5</p>
<p>WEAPON - EXPLOSIVES - POSSESSING,5211,5</p>
<p>SOLICITATION - ADULT FOR SEXUAL ACTS,9111,5</p>
<p>ARSON - PUB-BLDG,2009,4</p>
<p>DAMAGE PROPERTY - PRIVATE-WITH EXPLOSIVE,2905,4</p>
<p>JUVENILE - OUT OF CONTROL,9022,4</p>
<p>KIDNAP MINOR - NONPARENTAL,1011,4</p>
<p>LARCENY - THEFT OF US GOVERNMENT PROPERTY,2314,4</p>
<p>STOLEN PROPERTY - RECEIVE,2803,4</p>
<p>OBSTRUCT GOVT - PROBATION VIOLATION,5012,4</p>
<p>RAPE - GUN,1101,4</p>
<p>ABDUCT - NO RANSOM OR ASSAULT,1008,4</p>
<p>HOMICIDE - WILLFUL KILL-FAMILY-GUN,901,4</p>
<p>ASSAULT - AGGRAVATED - POL OFF-GUN,1310,3</p>
<p>ARSON - PUB-BLDG-ENDANGERED LIFE,2008,3</p>
<p>"OBSTRUCT - (SPECIFY JUDIC, CONGR, LEGIS, COMMSN)",5099,3</p>
<p>HOME IMPROVEMENT VIOLATION,9051,3</p>
<p>HOMICIDE - WILLFUL KILL-NON-FAMILY-GUN,903,3</p>
<p>FAMILY OFFENSE - CONTRIBUTING TO THE DELINQUENCY O,3805,3</p>
<p>KIDNAPPING (DESCRIBE OFFENSE),1099,3</p>
<p>OBSCENE MATERIAL - MANUFACTURE,3701,3</p>
<p>LARCENY - FROM INTERSTATE SHIPMENT,2312,3</p>
<p>INCOME TAX (DESCRIBE OFFENSE),6101,3</p>
<p>HEALTH - DRUGS - MISBRANDED,5502,3</p>
<p>DRUGS - BARBITURATE (DESCRIBE OTHER),3583,3</p>
<p>SMUGGLING - CONTRABAND INTO PRISON,5802,3</p>
<p>ESCAPE,4901,3</p>
<p>ARSON - BUSINESS-ENDANGERED LIFE,2001,3</p>
<p>ASSAULT - AGGRAVATED - PUB OFF-STRONG-ARM,1309,2</p>
<p>WEAPON - INCENDIARY DEVICE - USING,5208,2</p>
<p>WEAPON - INCENDIARY DEVICE - POSSESS,5207,2</p>
<p>OBSTRUCT POLICE - WITNESS - DISSUADING,4805,2</p>
<p>STOLEN PROPERTY - SALE OF,2801,2</p>
<p>DRUGS - OPIUM OR DERIVATIVE - SMUGGLE,3521,2</p>
<p>EXTORT - THREAT OF INFORMING OF VIOLENCE,2105,2</p>
<p>INVASION PRIVACY (DESCRIBE OFFENSE),5799,2</p>
<p>DRUGS - SYNTHETIC NARCOTIC - SMUGGLE,3541,2</p>
<p>DRUGS - HEROIN - SMUGGLE,3511,2</p>
<p>MORALS - DECENCY CRIMES,7299,2</p>
<p>AUTO THEFT - THEFT AND USE VEHICLE OTHER CRIME,2403,2</p>
<p>RECEIVE STOLEN VEHICLE,2406,2</p>
<p>ESCAPE - FLIGHT TO AVOID,4902,2</p>
<p>WEAPON - EXPLOSIVES - USING,5206,2</p>
<p>SEX ASSAULT - SODOMY-MAN-WEAPON,1109,2</p>
<p>HEALTH - SAFETY (DESCRIBE OFFENSE),5599,2</p>
<p>ASSAULT - AGGRAVATED - PUB OFF-GUN,1307,1</p>
<p>BURGLARY - BANKING-TYPE INST,2207,1</p>
<p>ARSON - BUSINESS,2005,1</p>
<p>HOMOSEXUAL ACT WITH MAN,3610,1</p>
<p>ILLEGAL ENTRY,301,1</p>
<p>OBSTRUCT GOVT - MISCONDUCT - JUDIC OFFICER,5008,1</p>
<p>KIDNAP - MINOR PARENTAL,1010,1</p>
<p>AUTO THEFT - THEFT AND STRIP VEHICLE,2402,1</p>
<p>HOMICIDE - WILLFUL KILL-NON-FAMILY,904,1</p>
<p>TRANSPORTING DANGEROUS MATERIALS,5402,1</p>
<p>COMM SEX OFF - PROCURE PROSTITUTE - MINOR,4007,1</p>
<p>SEX ASSAULT - SODOMY-GIRL-GUN,1106,1</p>
<p>DAMAGE PROPERTY - PUBLIC-WITH EXPLOSIVE,2906,1</p>
<p>DRUGS - HALLUCINOGEN - MFR,3501,1</p>
<p>WEAPON TRAFFICKING,5217,1</p>
<p>INVASION PRIVACY - WIRETAP - FAILURE TO REPORT,5708,1</p>
<p>COMPOUNDING CRIME,4808,1</p>
<p>HOMOSEXUAL ACT WITH BOY,3603,1</p>
<p>INVASION PRIVACY - OPENING SEALED COMMUNICATION,5706,1</p>
<p>DAMAGE PROPERTY - BUSINESS-WITH EXPLOSIVE,2904,1</p>
<p>OBSTRUCT POLICE - WITNESS - DECEIVING,4806,1</p>
<p>OBSTRUCT POLICE - ILLEGAL ARREST,4810,1</p>
<p>FALSE IMPRISONMENT - MINOR - PARENTAL,1021,1</p>
<p>LIQUOR - MANUFACTURE,4101,1</p>
<p>GAMBLING - DICE GAME,3907,1</p>
<p>KIDNAP ADULT TO SEXUALLY ASSAULT,1004,1</p>
<p>COMM SEX OFF - TRANSPORT FEMALE INTERSTATE FOR IMM,4006,1</p>
<p>FAMILY OFFENSE - CRUELTY TOWARD WIFE,3803,1</p>
<p>HOMICIDE - NEGLIGENT MANSLAUGHTER,910,1</p>
<p>SEX ASSAULT - SODOMY-WOMAN-WEAPON,1111,1</p>
<p>STOLEN PROPERTY - TRANSPORT INTERSTATE,2802,1</p>
<p>WEAPON - ALTERING IDENTIFICATION ON,5201,1</p>
<p>EMBEZZLE - PUBLIC PROP,2704,1</p>
<p>EMBEZZLE - INTERSTATE SHIPMENT,2702,1</p>
<p>EXTORT - THREAT ACCUSE PERSON OF CRIME,2104,1</p>
<p>OBSCENITY (DESCRIBE OFFENSE),3799,1</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Load JQuery and Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://rawgit.com/gdaunton/Semantic-UI/range-slider-build/dist/semantic.js"></script>
        <script>var api_port = {{ api_port }};</script>
        <script src="{{ url_for('static', filename='crimeDatabaseMain.js') }}"></script>


    </body>
</html>
